
.header {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-bottom: 1px #000 solid;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-inner-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
}

.header-inner-nav > li:not(:last-child) {
  margin-right: 64px;
}

li > a {
  color: #000;
}

.logo {
  height: 3em;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


